body {
    background-color: #b6ddc8;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
.header{
    height: 10%;
    margin: 0px;
    display: flex;
    justify-content: center;
    background: color #ecc4de;
    color: #ec6391;
}

.time{
    height: 10%;
    display:flex;
    justify-content: center;
    color: #ec6391;
}
.main {
    height: 65%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;

}
.card {
    height: 200px;
    width: 150px;
    margin: 10px;
    border: 6px solid #ec6391;
    border-radius: 25px;
}